

<div class="text-left">
	<h1>Welcome to AJForencis</h1>
	<div>
		<p>
			This site is meant for imparting confidential and high quality Forensic Science Services to professional and commercial organisations as well as to needy and interested public. Police officers engaged with crime investigation can have serious doubts regarding crime scene processing. They can post their problems here and can get detailed service and guidance on various steps they have to take to solve crime scene problems. The motivation behind this venture is the questions asked by a few civil police officers who have a genuine interest to conduct successful crime investigation but have no basic information regarding forensic science. After attending a class of short duration in Kerala Police Academy, they asked me “From where can we get relevant information while dealing with crime investigation? To whom can we contact for guidance in case of doubts?” Similar questions frequently arise from practicing lawyers also who need a deep knowledge of Forensic Science, but seldom have.
		</p>
		<p class="lead">About me</p>
		<p>
			Smt. Annamma John is the former Assistant Director of Forensic Science Laboratory, Kerala and a highly professional Forensic Scientist with hundreds of successful investigations to her credit. She is hard working and practical having a professional approach to solve crime scene problems. She has 30 plus years of years of experience in the field of forensic science during which she practiced forensic analysis as well as Scene of Crime investigation to which she has an excellent interest and an advanced knowledge in finding out the practices of criminals to escape detection. She has a proven track record of a professional trainer and worked in Kerala Police Academy as senior instructor and Head of the Department I/C of Forensic Science.
Her present assignment is with Kerala police Academy who declared her as an eminent Resource person of Forensic Science based on the excellent feedback of her classes. Her expertise is also requested by National Investigation Agency (NIA), National University on Advanced Legal Studies (NUALS) and other Law Colleges.
Being continuously engaged in skill upgradation, her forensic expertise for crime investigation is being regularly sought after by the investigators of Kerala Police and frequently by sleuths from Central Bureau of Investigation (CBI),   and National Investigation Agency (NIA).
		</p>
		<p class="lead">Beneficiaries</p>
		<ol>
			<li>Police officers engaged in crime investigation who need information about the advanced forensic techniques and the precautions to be adopted at the crime scene to collect maximum crime scene evidence to find out the criminal.
			</li><li>Practicing Lawyers and prosecutors who need forensic information for efficient examination and cross examination of their clients and witnesses.
			</li><li>Media personalities who need quality forensic information regarding sensational crime cases to conduct effective and advanced channel discussions.
			</li><li>Victims and their relatives who need expert guidance for effective prosecution and enforcement of justice.
			</li><li>Forensic science students who need academic guidance for the successful completion of their project works.
			</li>
		</ol>
		<p class="lead">Areas of service</p>
		<ol>
			This site is meant for crime scene investigation assistance form all the relevant and frequently occurring areas of crime like-
			<li>Physical Evidence and their importance in the crime investigation
			</li><li>Crime scene protection measures 	and the precautions to be observed by the investigating officers to maintain the integrity of the crime scene evidence
			</li><li>Handling , packing and labelling of  crime scene exhibits
			</li><li>Frequently asked questions to FSL, while filling the Forwarding Note,   so as  to derive maximum information from the exhibits send
			</li><li>Importance of blood as a forensic clue and the relevance of blood stain pattern analysis for crime scene reconstruction.
			</li><li>Importance of body fluids like saliva semen etc. in cases of  hurt and homicide, sexual abuses and other offences against women and children
			</li><li>DNA Profiling- its importance, applications and the preservation of samples for DNA analysis
			</li><li>Touch DNA and its relevance in crime investigation- crime scene exhibits from which touch DNA can be expected and the precautions to be observed to obtain touch DNA evidence
			</li><li>Relevance of Forensic Odontology to link the criminal with the crime scene and the victim- Processing of Bite mark evidence from food stuffs and from human body, collection of saliva from bite mark, collection of bite mark evidence from living and dead persons
			</li><li>Forensic Ballistics and evidence collection- lifting of firearm from the crime scene, packing of firearm, handling and packing of fired bullets and cartridge cases, Packing of clothes of fired victims, collection of Gun Shot Residue(GSR) for Shooter identification, frequently asked and relevant questions to FSL to deduct maximum information regarding the incidence of firing.
			</li><li>Hit and Run case investigation- relevance of glass ,soil, paint, tyre marks and skid marks  in accident investigation
			</li><li>Procedure for sending exhibits for skull superimposition
			</li><li>Forensic arson investigation- Identification of the origin of fire, identification and collection of relevant samples to determine the cause of fire.
			</li><li>Processing of Digital evidence
			</li><li>Forensic explosive investigation- identification of the seat of explosion, defusing of live explosives, collection of Touch DNA from explosive remnants for identification of the terrorist behind the explosion, procedure for forwarding of explosive exhibits to FSL
			</li><li>Narcotics- Identification ,sampling ,packing and forwarding of exhibits
			</li><li>Forensic Documents- Collection of standards, packing of charred documents handling of indentations , handling of suicidal notes to identify the writer, collection of fingerprints and touch DNA from the document
			</li><li>Counterfeit Currency- security features and identification of forgery
			</li><li>Forensic Toxicology- collection of evidence from a poisoning case, precautions to prevent evaporative loss of evidence, common plant poisons, relevance of hair , body fluids , nail and bone marrow to identify poison
			</li><li>Trace Evidence-basic principles and the collection procedure of various trace evidence in different types of cases, their importance and the collection procedure to link the criminal with the crime scene.
			</li>
		</ol>
		<p class="lead">Please Note</p>
		<p>
			Even though this site is basically meant for giving online answers to queries, very often it may not be possible to elicit full details of the context without face to face interaction. It is advised to meet in person under such situations.
				<b>Terms and Conditions apply</b>
		</p>
	</div>
</div>
