
<footer class="navbar navbar-default navbar-fixed-bottom" style="position: relative;">
	<div class="container text-muted">
		<div class="col-md-5">
			<button type="submit" class="btn btn-primary">Quick Information</button>
			<hr>
			<p>
				AjForensics is a platform where you can consult Annamma John, for queries regarding Forensic Science and Criminal Biology.
			</p>
		</div>
		<div class="col-md-5" style="float:right">

<i class="fa fa-camera-retro"></i> fa-camera-retro
			<a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
			<a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
			<a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
			<a href="#"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
			<a href="#"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
			<a href="#"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
			<hr>
			<p>
				Nirjhari Inc,<br> PO Box 57325,<br> Washington DC 20037.<br> T: +1 202-518-8935<br> F: +1 202-518-8935<br> Email: info@nirjhari.net<br>
			</p>


			<p>nirjhari.com | All Right Reserved</p>
		</div>
	</div>
</footer>
