
<div class="jumbotron text-center">
	<h1>Forensics Consulting</h1>
	<p class="lead">Welcome to AJForencis</p>
	<div>
		<a class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a class="btn btn-default" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row">
  	<div class="col-md-4">
    	<h3>Placeholder 1</h3>
		<p>Some data can be put over here if required. This will be column 1, stay or delete</p>
    	<!--<p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>-->
  	</div>
  	<div class="col-md-4">
  		<h3>Placeholder 2</h3>
    	<p>Some other data can be put over here as and hoe extra info is required. This will be column 2, stay or delete</p>
  	</div>
  	<div class="col-md-4">
    	<h3>Placeholder 3</h3>
    	<p>Login for accessing the data. You have to verify using phone number and email</p>
  	</div>
</div>
