<div *ngIf="user">

<div *ngIf="!nverified">
	<h4 class="page-header">Hi {{firstname}}</h4>

	<p>Please be crisp and clear will asking. Avoid ambiguities. Take a moment to go through the terms and conditions to understand what kind of questions you can consult on.</p>
	<form (submit)="onPostQuery()">
	<textarea style="background-color:white;color:black;-webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
		box-shadow: 1px 1px 1px 1px;
	    border-radius: 5px;
		width: 100%;" [(ngModel)]="query" name="query" rows="9">
	</textarea>
	<input type="submit" class="btn btn-primary" value="Post Query" style="float:right">
	</form>
</div>
<div *ngIf="nverified" class="jumbotron">
	<div *ngIf="!phone_v" class="row">
		<p> Please verify your phone number</p>
		<div [hidden]="showOTP"><a class="btn btn-primary" (click)="sendOTP()">Click to receive OTP</a></div>
		<div [hidden]="!showOTP" style="float:left"><a class="btn btn-primary" (click)="verifyOTP()">Verify OTP</a></div>
		<!--<input type="text" class="form-control" [(ngModel)]="enteredOTP" name="enteredOTP">-->
		<div class="form-group col-xs-4" [hidden]="!showOTP" (keyup.enter)="verifyOTP()">
			<input type="text" class="form-control" [(ngModel)]="enteredOTP" name="enteredOTP" placeholder="Enter OTP">
			<span class="help-block">Please enter the OTP received on your registered number</span>
			<span class="help-block">{{phone_response}}</span>
		</div>
		<br/>
		<hr/>
	</div>
	<div *ngIf="!email_v" class="row">
		<p> Lets verify your email </p>
		<div [hidden]="mailsent"><a class="btn btn-primary" (click)="sendMail()">Send verification mail</a></div>
		<div class="form-group col-xs-4" [hidden]="!mailsent">
			<span class="help-block">Click on the link in the email</span>
		</div>
	</div>
</div>
</div>
